<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">JuegoTech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games" routerLinkActive="active"><i class="fas fa-gamepad"></i>Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.user$ | async as user" routerLink="/games/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i>ADD Game</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">About</a> -->
          <a class="nav-link" *ngIf="auth.user$ | async as user" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.user$ | async as user" routerLink="/clients">Clients</a>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" *ngIf="auth.user$ | async as user" routerLink="/orders" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngIf="auth.user$ | async as user" routerLink="/orders">Action</a>
            <a class="dropdown-item" *ngIf="auth.user$ | async as user" routerLink="/orders">Another action</a>
            <a class="dropdown-item" *ngIf="auth.user$ | async as user" routerLink="/orders">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" *ngIf="auth.user$ | async as user" routerLink="/orders">Separated link</a>
          </div>
        </li>

      </ul>
      <div class="d-flex flex-row" >
      <form class="d-flex ">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>



      <form class="">



        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">

        <button class="btn btn-outline-danger" (click)="auth.logout({ returnTo: document.location.origin })">

        Log out

        </button>

        </ng-container>



        <ng-template #loggedOut>

        <button class="btn btn-outline-success" (click)="auth.loginWithRedirect()">Log in</button>

        </ng-template>

        </form>
      </div>
      </div>
  </div>
</nav>
