<h2 class="text-center text-white googleFontTitle">Mantenedor de Clientes (En construcción)</h2>
<div class="container">
  <div class="row">
    <div class="col-sm text-center googleFontTitle">
      ID
    </div>
    <div class="col-sm text-center googleFontTitle">
      Nombre
    </div>
    <div class="col-sm text-center googleFontTitle">
      Rut
    </div>
    <div class="col-sm text-center googleFontTitle">
      Razon Social
    </div>
    <div class="col-sm text-center googleFontTitle">
      Email
    </div>
    <div class="col-sm text-center googleFontTitle">
      Teléfono
    </div>
    <div class="col-sm text-center googleFontTitle">
      Dirección
    </div>
    <div class="col-sm text-center googleFontTitle">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      1
    </div>
    <div class="col-sm">
      Elba Lazo
    </div>
    <div class="col-sm">
      11.111.111-1
    </div>
    <div class="col-sm">
      Pepito paga doble SPA
    </div>
    <div class="col-sm">
      elbalazo@cruzado.cl
    </div>
    <div class="col-sm">
      +56912568491
    </div>
    <div class="col-sm">
      Cerro Dragon 100, Iquique, Chile.
    </div>
    <div class="col-sm">
      <td class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-dark btn-sm">Editar</button>
        <button type="button" class="btn btn-danger btn-sm text-white">Bloquear</button>
      </td>
    </div>
  </div>
</div>
